#o-fme-download-button{
  width: 100%
}
#input-DestinationFormat{
  width: 100%;
}
#o-extent-button{
  position: relative;
  float: left;
  width: 47%;
}
#o-drawarea-button{
  position: relative;
  float: right;
  width: 47%;
}
#o-extent-button.o-area-active{
  background-color: #0097cf;
  color: #fff;

}
#o-drawarea-button.o-area-active{
  background-color: #0097cf;
  color: #fff;
}
