.o-splash .o-modal{
  width: 1000px;
}

#o-splash-revisit-button{
  width: auto;
  border: none;
  padding: 10px 8px;
  margin-right: 6px;
  background-color: #0097cf;
  color: #fff;
}
#o-splash-revisit-button:hover{
background-color: #0080af
}
#o-splash-hide-button{
  width: auto;
  border: none;
  padding: 10px 8px;
}
#o-splash-hide-button:hover{
background-color: #eaeaea
}
&[class*=#{$media-l}] {
  .o-splash .o-modal {
    max-width: 400px;
    width: 400px;
  }
}
&[class*=#{$media-l-m}] {
  .o-splash .o-modal {
    max-width: 300px;
    width: 90%;
  }
}
