build-dev
dist
css/style.css
node_modules
npm-debug-log
plugins
splash

android-chrome-144x144.png
apple-touch-icon.png
favicon.ico
about.html
intern.json
gsp.json
op.json
lk.json
intern.html
splash.html
site.webmanifest