.twitter-typeahead .tt-input,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
  color: #e6e6e6
}
.tt-menu {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
  padding: 8px 0;
  width: 348px;
	z-index: 12;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 24px;
  padding: 3px 20px
}
.tt-suggestion.tt-cursor {
  background-color: #0097cf;
  color: #fff
}
.tt-suggestion p {
  margin: 0
}
.tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
  cursor: pointer
}
@media screen and (max-width: 1280px) {
  .typeahead, .o-search-field.tt-hint {
  	max-width: calc(100% - 1.5em);
  }
  .twitter-typeahead, .tt-menu{
  	max-width: 100%;
  }
}
